<h1 class="center-align">Update Your Password</h1>

<%= form_tag reset_password_passwords_path, method: :post, class: "col s12" do %>
  <div class="row">
    <div class="input-field col s12 m8 offset-m2">
      <%= password_field_tag 'password', nil, id: 'password', class: "validate" %>
      <%= label_tag 'password', 'New Password', for: 'password' %>
    </div>
  </div>

  <div class="row center-align">
    <%= submit_tag "Update Password", class: "btn waves-effect waves-light" %>
  </div>
<% end %>
