@import "materialize";

  body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  main {
    flex: 1 0 auto;
  }

  .sign-up-form{
    padding-top: 30px;
  }

.profile-container {
  position: absolute;
  top: 7px;
  right: -100px;
}

.nav-wrapper {
  position: relative;
}

.name-corner{
  position: absolute;
  top: 1px;
  right: -170px;
}

.likes-section {
  display: inline-flex;
  align-items: center;
}
.likes-section span {
  margin-right: 4px;
}

.video-size{
  top: 10%;
  height: 70%;
  width: 50%;
  left: 20%;
}